.story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./background-2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-top: 0;
}

.story-title {
    font-family: 'Lobster';
    font-size: 60px;
    font-weight: bold;
    color: #672400;
    padding: 15px 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}